<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img class="logo" src="https://78.media.tumblr.com/29153ac8ab07babdcb8c0c9aefcc1bb3/tumblr_p9udaxM9ZG1xuege9o1_640.png" alt="logo">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav flex-column">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="common.categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref="common.contacts">Contact us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">One more Link</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li>
        <a>
          <button class="btn btn-secondary login-btn" type="button" data-toggle="modal" data-target="#exampleModal">Login</button>
        </a>
      </li>
    </ul>
  </div>
</nav>


<ui-view></ui-view>


<div class="footer">
  <div class="w-25 mr-auto">
    <p class="footer-text">MikeDesign®</p>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log into our website</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="gigi@mail.com">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Save me on this device</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>