<div class="container">
    <div>
        <h3></h3>
        <p></p>
    </div>

    <div class="jumbotron">
        <h1 class="display-4">Our contacts here!</h1>
        <p class="lead">Feel free to contact us at any moment.</p>
    </div>

    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2823.574673251059!2d7.504576415215912!3d44.952313679098154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478816396965fa87%3A0x6998c440d2a152c5!2sVia+Giuseppe+Garibaldi%2C+3%2C+10040+Volvera+TO!5e0!3m2!1sit!2sit!4v1528047716448"
        frameborder="0" style="border:0" allowfullscreen></iframe>


    <div>
        <form id="c-form">
            <h6 class="c-text">Mike</h6>
            <p class="c-text">Tel: 3405864867</p>
            <p class="c-text">Mail: arric.michele@gmail.com</p>
            <p class="c-text"><a href="https://www.facebook.com/michele.arrichiello.9">Facebook</a></p>
        </form>
    </div>
</div>