<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">My website</h1>
        <p class="lead">This is a website i made. It's a one-page web application, feel free to explore.</p>
    </div>
</div>



<div class="container-fluid">

    <ui-view></ui-view>

    <div class="row">
        <div class="card mx-auto shadow p-3 mb-5 bg-white rounded" style="width: 100%;">

            <div class="card-body">
                <div class="row">
                    <img class="tn-img ml-auto" src="http://via.placeholder.com/250x250" alt="Card image cap">
                    <div class="tn-info mr-auto">
                        <h5 class="card-title">Product overview</h5>
                        <p class="card-text">This is the place where products are publicized to attract the attention of the user.</p>
                        <a ui-sref="common.categories" class="btn btn-primary">Link to category</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card mx-auto shadow p-3 mb-5 bg-white rounded" style="width: 100%;">

            <div class="card-body">
                <div class="row">
                    <div class="tn-info-inverse ml-auto">
                        <h5 class="card-title">Product overview</h5>
                        <p class="card-text">This is the place where products are publicized to attract the attention of the user.</p>
                        <a href="#" class="btn btn-primary">Link to category</a>
                    </div>
                    <img class="tn-img-inverse mr-auto" src="http://via.placeholder.com/250x250" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card mx-auto shadow p-3 mb-5 bg-white rounded" style="width: 100%;">

            <div class="card-body">
                <div class="row">
                    <img class="tn-img ml-auto" src="http://via.placeholder.com/250x250" alt="Card image cap">
                    <div class="tn-info mr-auto">
                        <h5 class="card-title">Product overview</h5>
                        <p class="card-text">This is the place where products are publicized to attract the attention of the user.</p>
                        <a href="#" class="btn btn-primary">Link to category</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>