<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Cor<strong>e</strong> - The heart of technology</h1>
        <p class="lead">This is a website i made. It's a one-page web application, feel free to explore.</p>
    </div>
</div>



<div class="container-fluid">

    <ui-view></ui-view>

    <div class="row">
        <div class="card mx-auto shadow p-3 mb-5 bg-white rounded" style="width: 100%;">

            <div class="card-body">
                <div class="row">
                    <img class="tn-img ml-auto" src="https://cdn.shopify.com/s/files/1/2369/4159/products/gmxcssiriusblkrgb-02_250x_crop_center.png?v=1516968899" alt="Card image cap">
                    <div class="tn-info mr-auto">
                        <h5 class="card-title">Product overview</h5>
                        <p class="card-text">This is the place where products are publicized to attract the attention of the user.</p>
                        <a ui-sref="common.categories" class="btn btn-primary">Link to category</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card mx-auto shadow p-3 mb-5 bg-white rounded" style="width: 100%;">

            <div class="card-body">
                <div class="row">
                    <div class="tn-info-inverse ml-auto">
                        <h5 class="card-title">Product overview</h5>
                        <p class="card-text">This is the place where products are publicized to attract the attention of the user.</p>
                        <a href="#" class="btn btn-primary">Link to category</a>
                    </div>
                    <img class="tn-img-inverse mr-auto" src="http://img.alicdn.com/imgextra/i3/2101546432/TB2aMM8dWmWBuNkHFJHXXaatVXa_!!2101546432.png_250x250.jpg" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card mx-auto shadow p-3 mb-5 bg-white rounded" style="width: 100%;">

            <div class="card-body">
                <div class="row">
                    <img class="tn-img ml-auto" src="https://avadirect-freedomusainc1.netdna-ssl.com/pictures/250/Aorus_X9_DT-CL5M_1.png" alt="Card image cap">
                    <div class="tn-info mr-auto">
                        <h5 class="card-title">Product overview</h5>
                        <p class="card-text">This is the place where products are publicized to attract the attention of the user.</p>
                        <a href="#" class="btn btn-primary">Link to category</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>