/* NAVBAR */
.nav > .nav-item > .nav-link {
    color: #bbbbbb;
}
.nav > .nav-item > .nav-link:hover{
    color: #ebebeb;
}
.logo {
    width: 120px;
    height: 100px;
    margin-top: 15px;
}
.login-btn{
    margin-bottom: -65px;
    margin-right: 20px;
}

/* BODY */
body{
    background-color: #e9ecef;
}
.jumbotron{
    padding-top: 40px;
    padding-bottom: 10px;
}
.card{
    padding: 20px 10px 0;
    margin-bottom: 40px;
}
.tn-img{
    margin-right: 20px;
}
.tn-info{
    margin-left: 20px;
}
.tn-img-inverse{
    margin-left: 20px;
}
.tn-info-inverse{
    margin-right: 20px;
}
#categoryContainer{
    margin-bottom: 120px;
    margin-top: 40px;
}
#ship{
    color: cornflowerblue;
}

.map{
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}
#c-form{
    margin-bottom: 40px;
}
.c-text{
    margin: 0;
}

.footer{
    background-color: #343a40;
    color: #bbbbbb;
    padding: 4px 0;
    position: sticky;
    width: 100%;
    bottom: 0;
}
.footer-text{
    text-align: center;
}